.App {
  text-align: center;
 
}

.container{
  background-image: url(./assets/backgrounds.png);
  width: 100%;
  height: 1080px;
  background-repeat: no-repeat;
}

.textcomponentTexto{
  padding: 1px;
  margin: 0px 10px 10px 10px;
}